html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mooli', sans-serif;
    padding: 20px;
    background-image: url("assets/images/flower2.jpg");
    /* background-repeat: no-repeat; */
    background-color: #210124;
    color: #d5d6b6;
    background-size: cover;
    height: 100%;
}

main {
    max-width: 750px;
    margin: 0 auto;
}

.toDo-title {
    text-align: center;
    margin: 0 0 1.5em 0;
    color: #4B4C35;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    font-size: 1.5em;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d5d6b6;
    padding: 20px;
    margin: 5px 0;
    gap: 10px;
    border-radius: 5px;
    background-color: #E5EB3C;
    opacity: 0.8;
    color: #1B1B16;
}

.filter-container {
    display: flex;
    align-items: center;
}

.filter {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 20px 0 20px auto; 
}

select {
    cursor: pointer;
    padding: 5px;
}

.input-text {
    border-radius: 5px;
    border: 1px solid #ccc;
}

.no-task-placeholder {
    text-align: center;
    color: #ccc;
    opacity: 0.4;
}

button {
    font-family: 'Mooli', sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button, .input-text {
    padding: 0.625rem;
}

.add-btn {
    background: #4B4C35;
    color: #E5EB3C;
}

.remove-btn {
    background: #ff7477;
    font-size: 0.75rem;
}

.delete-all-btn {
    margin-top: 20px;
    background: #ff7477;
    border: 2px solid red;
}

button:hover, button:focus {
    padding: 11px;
    font-weight: bold;
}

.delete-all-btn-container {
    display: flex;
    justify-content: center;
}

@media (min-width: 600px) {
    .input-text {
        width: 400px;
    }
    
    .add-btn {
        width: 100px;
    }
}
