html, body {
    margin: 0;
    padding: 0;
}

body { 
    background: url(assets/images/flower2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #210124;
    color: #d5d6b6;
    padding: 20px;
    font-family: 'Mooli', sans-serif;
  }

main {
    max-width: 750px;
    margin: 0 auto;
    height: 100%;
}

.toDo-title {
    text-align: center;
    margin: 0 0 1.5em 0;
    color: #4B4C35;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    font-size: 1.5em;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d5d6b6;
    padding: 20px;
    margin: 5px 0;
    gap: 10px;
    border-radius: 5px;
    background-color: #1A7B39;
    opacity: 0.7;
    color: #ccc;
}

.filter-container {
    display: flex;
    align-items: center;
}

.filter {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 20px 0 20px auto;
    text-shadow: 2px 2px 4px #000000;
}

select {
    cursor: pointer;
    padding: 5px;
}

.input-text {
    border-radius: 5px;
    border: 1px solid #ccc;
}

.no-task-placeholder {
    text-align: center;
    color: #4B4C35;
    opacity: 0.5;
    align-self: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.placeholder-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Buttons */
button {
    font-family: 'Mooli', sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button, .input-text {
    padding: 0.625rem;
}

.add-btn {
    background: #1A7B39;
    color: #ccc;
}

.remove-btn {
    background: #ff7477;
    font-size: 0.75rem;
    color: #d5d6b6;
}

.delete-all-btn {
    background: #ff7477;
    color: #d5d6b6;
}

button:hover, button:focus {
    padding: 11px;
    font-weight: bold;
}

.delete-all-btn-container {
    display: flex;
    justify-content: center;
}

/* Media query */
@media (min-width: 600px) {
    .input-text {
        width: 400px;
    }
    
    .add-btn {
        width: 100px;
    }
}
